@charset "UTF-8";

body{
    height: 100vh;
}
main{
    max-width: 800px;
    margin: auto;
}
* {
    margin: 0;
    padding: 0;
   
    text-decoration: none;
    list-style: none;
}

:root{
    --cor1:#4dbce9;
    --cor2: #26ade4;
}

.titulo-do-header{
    -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.links-do-header{
    position: absolute;
    inset: 0;
    top: auto;
    padding: .5em;
    border-radius: 1em;
}
.nav-links{  
    padding: .5em;
    border-radius: 1em;
}
.nav-links:hover{
    color: #20d6d8;
    background-color: #145988;
}
.lista-do-nav{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.pa{
    padding: 20px;
    
}
#Resumo{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #20d6d8;
    height: 100%;
}
#Resumo * {
    display: flex;
    justify-content: center;
    align-items: center;
}